<li>
  <%= activity.name %> | <%= activity.data_name %> | <%= activity.action_type %> | <%= link_to 'edit', edit_activity_path(activity) %> | <%= link_to 'entry', new_activity_entry_path(activity) %>
</li>